<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin</title>

    <link rel="stylesheet" href="/media/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=cyrillic" rel="stylesheet">

    <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
<section class="admin-control">
    <h1>Admin</h1>
    <button id="reset">Новое голосование</button>
    <button id="stop">Остановить голосование</button>
    <button id="win">Победа реальности</button>
</section>

<script src="/media/scripts/admin.js"></script>

</body>
</html>