<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Vote reality!</title>

        <link rel="stylesheet" href="/media/styles/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=cyrillic" rel="stylesheet">

        <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/media/scripts/typed.min.js"></script>
    </head>
    <body>
        <canvas class="voting" id="c"></canvas>
        <button class='hidden' id='stop'>甽</button>
        <div class='' id='poll' style="display: none">
            <a class='cf' id="red" href="javascript:void(0);"></a>
            <a class='cf' id="blue" href="javascript:void(0);"></a>
        </div>
        <div id="inactive" style="display: none;">
            <img class="neosPunch" src="/media/images/neos_punch.gif" style="display: none;" >
            <img class="crazySmith" src="/media/images/crazy_smith.gif" style="display: none;" >
            <div class="matrixConsole"></div>
        </div>

        <script src="/media/scripts/script.js"></script>
    </body>
</html>