<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Vote reality!</title>

        <link rel="stylesheet" href="/media/styles/main.css">

        <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <canvas class="voting" id="c"></canvas>
        <button class='hidden' id='stop'>甽</button>
        <div class='' id='poll' style="display: none">
            <a href="javascript:void(0);" id="red">Красная кнопка</a>
            <a href="javascript:void(0);" id="blue">Синяя кнопка</a>
        </div>
        <div id="inactive" style="display: none;">
            <img id="codeHelp" class="img-responsive center-block" src="/media/images/giphy.gif" />
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/media/scripts/script.js"></script>
    </body>
</html>